[Unit]
Description=Keep indicum running

[Service]
Type=simple
ExecStart=/home/ag/indicum-package/run-on-device.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target